/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and HTML */
body, html {
  height: 100%;
  overflow: hidden;
  background: rgb(249, 242, 229); /* Set background to solid black */
}

/* Splash effect */
.splash {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #003262;
  pointer-events: none;
  transform: scale(0);
  animation: splash-animation 1.5s ease-out forwards;
}

@keyframes splash-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

/* Main Section */
.main {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.about {
  text-align: center;
}

.about h1 {
  font-size: 50px;
  color: rgb(46, 46, 46);
}

.about p {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(46, 46, 46);
}

/* Hanger Section */
.hanger {
  height: 100px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center; 
}

.hanger div {
  background-color: #ffffff;
  padding: 10px;
  padding: 0px 30px;
  border-radius: 10% / 50%;
  max-width: 400px;
  min-height: 70px;
}

.main div {
  background-color: #003262;
  padding: 10px;
  width: 100%;
  min-height: 70px;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon {
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #FDB515; 
}

.profile-picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Titles List */
.titles-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
}

.titles-list li a {
  font-size: 1.5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-decoration: none;
  transition: color 0.3s ease;
}

.titles-list li a:hover {
  color: #FDB515; 
}