* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.main {
  height: 100vh;
  position: relative;
  z-index: 1; /* Ensures .main is above the video */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px; /* Adds space at the bottom for visibility */
}

.hanger {
  height: 100px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.hanger div {
  background-color: #003262;
  padding: 10px;
  padding: 0px 30px;
  border-radius: 10% / 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  min-height: 70px;
}

.main div {
  background-color: #003262;
  padding: 10px;
  width: 100%;
  min-height: 70px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #FDB515; 
}

.profile-picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.titles-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.titles-list li a {
  font-size: 1.5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-decoration: none;
  transition: color 0.3s ease;
}

.titles-list li a:hover {
  color: #FDB515; 
}